/*search_bar*/
.hasMargin{
	margin: 10px 0 20px 0;
}

/*city not found error*/
#cardPanel {
	position: relative;
	height: 100px;
	text-align: center;
	/*vertical-align: center;*/
}
#cardPanel p{
	display: inline;
	font-size: 20px;
	/*vertical-align: center !important;*/
}
#cardPanel a{
	position: absolute;
	right: 15px;
	top: 15px;
}
#cardPanel a i {
	color: brown;
}
#cardPanel a:hover{
	background-color: white;
}
#cardPanel a:hover > i {
	color: red;
}


/*preamble*/
div h1 {
	text-align: center;
	vertical-align: center;
}

/*table cells*/
th, td {
	vertical-align: center !important;
	text-align: center !important;
}

td:first-of-type, td:first-of-type > div {
	width: 200px;
	height: 200px;
}

td div p{
	font-size: xx-small;
}

/*charts*/
svg {
	height: 150px;
}